<table class="layui-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>cat_url</th>
        <th>分类名称</th>
        <th>seo标题</th>
        <th>seo关键字</th>
        <th>seo描述</th>
        <th>
            <button class="layui-btn layui-btn-xs" ng-click="showAddModal()">添加</button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="d in data">
        <td ng-bind="d.id"></td>
        <td ng-bind="d.cat_url"></td>
        <td ng-bind="d.cat_name"></td>
        <td ng-bind="d.seotitle"></td>
        <td ng-bind="d.keywords"></td>
        <td ng-bind="d.description"></td>
        <td style="width:130px;">
            <button class="layui-btn layui-btn-xs" ng-if="d.status==-1" ng-click="editState(d,1)">上架</button>
            <button class="layui-btn layui-btn-xs" ng-if="d.status==1" ng-click="editState(d,-1)">下架</button>
            <button class="layui-btn layui-btn-xs" ng-click="showEditModal(d)">修改</button>
            <button class="layui-btn layui-btn-xs" ng-click="editState(d,-2)">删除</button>
        </td>
    </tr>
    </tbody>
</table>
<div id="page"></div>
<div class="modals">
    <div id="modal" class="modal">
        <form>
            <div class="layui-form-item">
                <label class="layui-form-label">cat_url</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" ng-model="model.cat_url">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" ng-model="model.cat_name">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">seo标题</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" ng-model="model.seotitle"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">seo关键字</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" ng-model="model.keywords"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">seo描述</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" ng-model="model.description"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" ng-if="model.id==null" ng-click="add()">新增</button>
                    <button class="layui-btn" ng-if="model.id!=null" ng-click="edit()">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>