<style>
    .thumb {
        position: relative;
        height: 100px;
        transition: all .2s;
    }

    .thumb:hover {
        transform: scale(2, 2);
        z-index: 1;
    }

    .thumb-inmodal {
        margin: 10px 10px;
        margin-bottom: 0px;
    }
</style>
<form>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" ng-model="search.string1">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-inline">
                <select class="layui-input" ng-options="x.id as x.cat_name for x in categoryOfSearch" ng-model="search.number1"></select>
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn" ng-click="get()">搜索</button>
            <button class="layui-btn" ng-click="reset()">重置</button>
        </div>
    </div>
</form>
<table class="layui-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>封面图</th>
        <th>分类</th>
        <th>标题</th>
        <th>标签</th>
        <th>添加时间</th>
        <th>
            <button class="layui-btn layui-btn-xs" ng-click="showAddModal()">添加</button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="d in data">
        <td ng-bind="d.id"></td>
        <td>
            <img class="thumb" ng-src="{{url+d.thumb}}">
        </td>
        <td ng-bind="d.cat_name"></td>
        <td ng-bind="d.title"></td>
        <td ng-bind="d.tags"></td>
        <td ng-bind="d.created_at|date:'yyyy-MM-dd HH:mm:ss'"></td>
        <td>
            <button class="layui-btn layui-btn-xs" ng-click="showImageModal(d)">图片</button>
            <button class="layui-btn layui-btn-xs" ng-click="delete(d)">删除</button>
        </td>
    </tr>
    </tbody>
</table>
<div id="page"></div>
<div class="modals">
    <div id="modal" class="modal">
        <form>
            <div class="layui-form-item">
                <label class="layui-form-label">分类</label>
                <div class="layui-input-block">
                    <select class="layui-input" ng-options="x.id as x.cat_name for x in categoryOfModal" ng-model="model.cat_id"></select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" ng-model="model.title">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">标签</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" ng-model="model.tag"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">封面</label>
                <div class="layui-input-block">
                    <input class="layui-input" id="cover" type="file">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片集</label>
                <div class="layui-input-block">
                    <input class="layui-input" multiple id="img" type="file">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" ng-if="!lock" ng-click="add()">新增</button>
                    <button class="layui-btn" ng-if="lock" ng-click="edit()">保存</button>
                </div>
            </div>
        </form>
    </div>
    <div id="modal-image" class="modal">
        <div style="display: inline-block;" ng-repeat="d in image">
            <img class="thumb thumb-inmodal" ng-src="{{url+d.thumb}}" >
            <div style="color:red;text-align: center;cursor: pointer;" ng-click="deleteImg(d)">删除</div>
        </div>
    </div>
</div>