<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="home/layout">
<div th:fragment="content">
    <div>
        <div class="layui-carousel" id="carousel">
            <div carousel-item="">
                <a th:href="@{'/home/gallery/'+${carousel.id}}" th:each="carousel:${carousel}"><img th:src="${ossUrl+carousel.cover}"></a>
            </div>
        </div>
        <div class="path">
            <img src="http://image.mn52.com/img/allimg/200602/bauyun_shanchuan.png">
            当前位置：<a>首页</a>&nbsp;>&nbsp;<a>嘻嘻哈哈</a>&nbsp;>&nbsp;嘻嘻哈哈
        </div>
        <div class="content" th:each="category:${category}">
            <div class="content-title">
                <a th:href="@{'/home/category/'+${category.id}}" th:text="${category.name}"></a>
            </div>
            <div class="box">
                <div class="block" th:each="gallery:${category.gallery}">
                    <a th:href="@{'/home/gallery/'+${gallery.id}}" class="block-img">
                        <div class="block-modal">
                            <div class="block-count" th:text="${gallery.img+'张'}"></div>
                        </div>
                        <img th:src="${ossUrl+gallery.cover}">
                    </a>
                    <div class="block-description">
                        <div class="block-title" th:text="${gallery.title}"></div>
                        <div class="block-tip">
                            <img src="http://image.mn52.com/img/allimg/200602/bauyun_shanchuan.png"><span th:text="${gallery.scan}"></span>
                            <img src="http://image.mn52.com/img/allimg/200602/bauyun_shanchuan.png"><span th:text="${gallery.good}"></span>
                        </div>
                        <div>
                            <a class="tag" th:href="@{'/home/tag/'+${tag.tag_id}}" th:each="tag:${gallery.tag}" th:text="${tag.tag_name}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-title">
                <a>最新标签</a>
            </div>
            <div>
                <a class="tag" th:href="@{'/home/tag/'+${tag.id}}" th:each="tag:${tag}" th:text="${tag.name}"></a>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            layui.carousel.render({
                elem: '#carousel',
                width: '100%',
                height: '500px',
            });
        });
    </script>
</div>
</html>