<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="home/layout">
<div th:fragment="content">
    <div ng-controller="indexCtrl">
        <div class="layui-carousel" id="carousel">
            <div carousel-item="">
                <div ng-repeat="d in carousel"><img ng-src="{{url+d.cover}}"></div>
            </div>
        </div>
        <div class="path">
            <img src="http://image.mn52.com/img/allimg/200602/bauyun_shanchuan.png">
            当前位置：<a>首页</a>&nbsp;>&nbsp;<a>嘻嘻哈哈</a>&nbsp;>&nbsp;嘻嘻哈哈
        </div>
        <div class="content" ng-repeat="d in category">
            <div class="content-title">
                <a ng-bind="d.name"></a>
            </div>
            <div class="box">
                <div class="block" ng-repeat="g in d.gallery">
                    <div class="block-img">
                        <div class="block-modal">
                            <div class="block-count">12张</div>
                        </div>
                        <img ng-src="{{url+g.cover}}">
                    </div>
                    <div class="block-description">
                        <div class="block-title" ng-bind="g.title"></div>
                        <div class="block-tip">
                            <img src="http://image.mn52.com/img/allimg/200602/bauyun_shanchuan.png">123123
                            <img src="http://image.mn52.com/img/allimg/200602/bauyun_shanchuan.png">13123
                        </div>
                        <div>
                            <a class="tag" ng-repeat="t in g.tag" ng-bind="t.name"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-title">
                <a>最新标签</a>
            </div>
            <div>
                <a class="tag" ng-repeat="d in tag" ng-bind="d.name"></a>
            </div>
        </div>
    </div>
</div>
</html>