<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mn52-最懂你的图片站</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/plugin/layui/css/layui.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
</head>
<body ng-app="app" ng-controller="layoutCtrl">
<div class="container">
    <header id="top">
        <a href="/home/index" class="logo">
            <img src="/img/logo.png">
        </a>
        <ul class="nav">
            <li><a href="/home/index">首页</a></li>
            <li ng-repeat="d in nav"><a ng-href="{{'/home/category?id='+d.id}}" ng-bind="d.name"></a></li>
        </ul>
        <div class="search">
            <select ng-options="x.id as x.name for x in layoutCategory" ng-model="search.number1"></select>
            <input type="text" placeholder="请输入搜索关键词">
            <button>搜索</button>
            <ul class="top-tag">
                <li>推荐标签：</li>
                <li ng-repeat="d in layoutTag"><a class="tag" ng-bind="d.name"></a></li>
            </ul>
        </div>
    </header>
    <hr color="#EBEEF1">
    <div class="container" th:include="::content">页面正文内容</div>
    <hr color="#EBEEF1">
    <footer>
        <div class="copyright">
            <div>本站纯属免费美女图片欣赏网站，所有mm图片均收集于互联网。</div>
            <div>如有侵犯版权,请来信告知,我们将立即更正。</div>
            <div>Email：1127587445@qq.com&nbsp;&nbsp;QQ：1127587445</div>
            <div>Copyright © 2006-<span ng-bind="nowYear"></span> mn52.com 版权所有</div>
            <div><a href="http://www.beian.miit.gov.cn/">京ICP备15023835号-3</a></div>
        </div>
        <div class="link">
            <div>
                <a href="/home/index">首页</a>
                <a  ng-href="{{'/home/category?id='+d.id}}" ng-repeat="d in nav" ng-bind="d.name"></a>
            </div>
            <div>
                <a>手机版</a>
            </div>
            <div>
                <a href="#top">返回顶部</a>
            </div>
        </div>
    </footer>
</div>
<script type="text/javascript" src="/plugin/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/plugin/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/plugin/layui/layui.all.js"></script>
<script type="text/javascript" src="/plugin/util/util.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>